@charset "ISO-8859-1";

ul>li{
	
	display: inline;
	border: 1px solid blue;
	margin: 20px 20px;
	border-radius: 5px;
}

a{
	
text-decoration: none;
font-size: 14px;
font-family: Arial;
}


table{
	
	border: 1px solid green;
	margin: auto;
	border-collapse: collapse;
}

tr,td,th{
	
	border: 1px solid green;
}